
  body{
    background-image: url(./images/bg-intro-desktop.png);
    background-color:  #FF7979;
    ;
    
}

    .h{
        width: 700px;
        height: 131px;
        color: white;
        font-family: Poppins;
font-size: 50px;
font-weight: 700;
line-height: 55px;
letter-spacing: -0.5208333134651184px;
text-align: left;

        
    }
    .p{
        width: 525px;
        height: 78px;
        top: 142px;
        color: white;
        font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
margin-right: 170px;
        
    }
  

.container {
    width: 540px;
    height: 474px;
    top: 205px;
    left: 735px;
    margin: 20px auto;
    background-color: white; 
    color: aliceblue;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.frame {
    width: 100%;
    margin-bottom: 20px;
}

input {
    width: 460px;
    height: 56px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    left: 40px;
    width: 460px;
    height: 56px;
    left: 40px;
    margin-top: 10px;
}

.button button {
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    width: 460px;
    height: 56px;
    top: 344px;
    left: 40px;
    background-color: #38CC8B;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
}

.terms {
    margin-top: 20px;
    width: 367px;
    height: 26px;
    top: 408px;
    left: 86.5px;
    
}

.h5 {
    margin: 0;
    
    font-family: Poppins;
font-size: 11px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
color: gray;
}

.try{
    width: 540px;
    height: 60px;
    top: 121px;
    left: 725px;
    background-color: #5E54a4;
    color: white;
    border: none;
   border-radius: 10px;
  margin-left: 33px;
}
.text{
    position: relative;
        width: 525px;
        height: 220px;
        top: 29px;
        left: 165px;
    flex: 1;
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 150px;
  margin-right: 100px;
}

.flex-container{
    display: flex;
}
.sec{
    flex: 1;
    margin-top: 100px;
}